.btn {
    @include dflex(nowrap, row, center, center);
    min-height: 54px;
    padding: 0 15px;
    border-radius: 30px;
    font-weight: 500;
    color: #000;
    background-color: $accent-color;
    text-align: center;
    border: none;

    &--non-target {
        font-weight: 400;
        background-color: #fff;
        border: $border;
    }

    &--alt {
        font-weight: 500;
        color: #212121;
        background-color: $neutral-color-light;
    }

    &:focus {
        outline: none;
    }
}