.cabinet-request-accepted .cabinet-request-accepted__img {
    margin: 16px auto 0;
    width: 61.11%;
    height: auto;
}

.cabinet-request-accepted__text {
    text-align: center;
}

.cabinet-request-accepted__links {
    margin-top: 0;
}