.company-documents {
    margin-top: 12px;
    padding: 15px 10px;
    background-color: #fff;
    border-radius: $border-radius;
    border: $border;
}

.company-documents__items {
    @include dflex(nowrap, column, flex-start, flex-start);
}

.company-documents__item {
    @include dflex(nowrap, column, center, flex-start);
    min-height: 60px;
    padding-left: 72px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-image: url("../img/icon-document.svg");

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
.company-documents__item-name {
    color: #000;
}

.company-documents__item-size {
    color: $neutral-color-dark;
    font-size: $label-fz;
    line-height: $label-lh;
}