.form {
    @include dflex(nowrap, column, flex-start, stretch);

    &--cabinet {
        margin-top: 16px;
    }

    &--on-moderation {
        opacity: .5;
    }
}

.form__input-group {
    position: relative;
    margin-bottom: 32px;

    &::after {
        @include abs-pseudo;
        bottom: -17px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $neutral-color-light;
        border-radius: 1px;
    }
}

.form__input-block {
    &:not(:last-of-type) {
        margin-bottom: 15px;
    }
}

.form__input-label {
    display: block;
    margin-bottom: 8px;
    font-size: $label-fz;
    line-height: $label-lh;

    &--checkbox {
        position: relative;
        min-height: 30px;
        margin-bottom: 0;
        padding-top: 5px;
        padding-left: 38px;

        &::before {
            @include abs-pseudo;
            top: 0; 
            left: 0;
            width: 30px;
            height: 30px;
            background-color: #fff;
            border: $border;
            border-radius: 3px;
        }

        &::after {
            @include abs-pseudo;
            @include background("../img/icon-checkbox-checked.svg");
            top: 0;
            left: 0;
            display: none;
            width: 30px;
            height: 30px;
            background-color: $accent-color;
            border-radius: 3px;
            background-size: 17px 10px;
        }
    }

    &--file {
        @include dflex(nowrap, row, center, center);
        width: max-content;
        margin-right: auto;
        margin-left: auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}

.form__input--checkbox:checked + .form__input-label--checkbox::after {
    display: block;
}

.form__input-label a {
    color: #000;
    text-decoration: underline;
}

.form__input-required {
    color: $sale-heading-color;
}

.form__input-wrapper {
    @include dflex(nowrap, row, space-between, center);

    &--radio {
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 12px;
    }
}

.form__radio-wrapper {
    &:not(:last-child) {
        margin-right: 5px;
    }
}

.form__radio-label {
    @include dflex(nowrap, row, center, center);
    padding: 5px 15px;
    border: $border;
    border-radius: 40px;
    background-color: #fff;
}

.form__input--radio:checked + .form__radio-label {
    border-color: $accent-color;
    background-color: $accent-color;
}

.form__input {
    display: block;
    flex-basis: 100%;
    flex-grow: 1;

    &--half {
        flex-basis: calc(50% - 4px);
    }
}

.form__input--half + .select2 {
    flex-basis: calc(50% - 4px);
}

.form__input--select + .select2 .select2-selection__rendered {
    @include dflex(nowrap, row, flex-start, center);
    max-width: 100%;
    height: 54px;
    padding: 0 45px 0 20px;
    color: #000;
    background-color: #fff;
    border: $border;
    border-radius: 35px;
}

.form__input--select + .select2-container--open .select2-selection__rendered {
    border-bottom: none;
    border-radius: 27px 27px 0 0;
}

.form__input--select + .select2 .select2-selection {
    max-width: 100%;
    height: 54px;
    border: none;
    border-radius: 35px;
}

.form__input--select + .select2 .select2-selection__arrow {
    @include background("../img/icon-select-arrow-closed.svg");
    position: absolute;
    top: 50%;
    right: 15px;
    width: 24px;
    height: 21px;
    transform: translateY(-50%);
}

.form__input--select + .select2-container--open .select2-selection__arrow{
    background-image: url("../img/icon-select-arrow-open.svg");
}

.form__input--select + .select2 .select2-selection__arrow b {
    border: none;
}

.select2-container--open .select2-dropdown--below {
    border-right: $border;
    border-bottom: $border;
    border-left: $border;
    border-radius: 0 0 35px 35px;
}

.select2-results__option {
    background-color: #fff !important;
    color: #000 !important;
}

.select2-results__option {
    padding: 0 20px 15px;
    background-color: transparent !important;
}

.form__submit-btn {
    width: 100%;
    margin-top: 15px;
    font-weight: 500;
}

.form__add-btn {
    position: relative;
    margin: 0 auto;
    padding: 0 52px 0 58px;

    &::before {
        @include abs-center-y;
        left: 30px;
        width: 20px;
        height: 20px;
    }

    &::after {
        @include abs-center-y;
        @include background("../img/icon-add-btn-plus.svg");
        left: auto;
        right: 30px;
        width: 14px;
        height: 14px;
    }

    &--address {
        margin-bottom: 16px;

        &::before {
            @include background("../img/icon-add-btn-address.svg");
        }
    }

    &--files {
        margin-bottom: 8px;

        &::before {
            @include background("../img/icon-add-btn-files.svg");
        }
    }
}

.form__group-toggle {
    position: relative;
    justify-content: flex-start;
    width: 100%;
    padding-right: 55px;
    padding-left: 25px;

    &::after {
        @include abs-center-y;
        @include background("../img/icon-input-group-arrow.svg");
        right: 25px;
        left: auto;
        width: 24px;
        height: 20px;
    }

    &--open {
        &::after {
            background-image: url("../img/icon-input-group-arrow-open.svg");
        }
    }
}

.form__group-minimized {
    padding-top: 16px;
}

.form__files-text {
    color: $neutral-color-medium;
    font-size: $label-fz;
    line-height: $label-lh;
}

.form__files-text p {
    margin-bottom: 0;
}

.form__files-text ol {
    margin: 0;
    padding-left: 20px;
}

.form__uploaded-file {
    position: relative;
    display: block;
    min-height: 30px;
    margin: 8px 0 16px;
    padding-right: 38px;
    color: #000;

    &::after {
        @include abs-center-y;
        @include background("../img/icon-file-remove.svg");
        right: 0;
        left: auto;
        width: 30px;
        height: 30px;
    }
}

.form__products {
    margin-top: 16px;

    &:not(:last-of-type) {
        margin-bottom: 16px;
    }
}

.form__product {
    &:not(:last-child) {
        margin-bottom: 8px;
    }
}

.form__sum {
    @include dflex(nowrap, row, space-between, center);
    padding: 11px 15px;
    border: $border;
    border-radius: $border-radius;
    background-color: #fff;
}

.form__sum-value {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: $total-price-color;
}