.header {
    padding-top: 26px;
    padding-bottom: 18px;
}

.header .site-container {
    height: 100%;
}

.header__wrapper {
    @include dflex(nowrap, row, space-between, center);
    position: relative;
    height: 100%;
}

.header__title {
    @include center;
    position: absolute;
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
}

.header__personal-link {
    position: relative;
    width: 97px;
    margin-left: auto;
    padding-left: 27px;
    color: rgba(#000,.5);
    font-size: $small-fz;
    line-height: $small-lh;

    &::before {
        @include abs-center-y;
        @include background("../img/icon-personal-link.svg");
        width: 21px;
        height: 21px;
    }
}