.input {
    display: block;
    max-width: 100%;
    height: 54px;
    padding: 15px 20px;
    background-color: #fff;
    border: $border;
    border-radius: 35px;

    &::placeholder {
        opacity: 1;
        color: $neutral-color-medium;
    }
}