.pairs {
    @include dflex(nowrap, column, flex-start, stretch);
    margin-bottom: 16px;
}

.pairs__pair {
    @include dflex(nowrap, column, flex-start, stretch);
    margin-bottom: 8px;

    &:last-child {
        margin-bottom: 0;
    }
}

.pairs__pair-name {
    font-size: $label-fz;
    line-height: $label-lh;
    color: rgba(0,0,0,.3);
}
