.requisites-block {
    padding: 15px;
    background-color: #fff;
    border-radius: $border-radius;
    border: $border;

    &:not(:first-child) {
        margin-top: 16px;
    }

    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.requisites-block__items {
    @include dflex(nowrap, column, flex-start, flex-start);
}

.requisites-block__pair {
    @include dflex(nowrap, column, flex-start, flex-start);
    margin: 0;

    &:not(:last-child) {
        margin-bottom: 8px;
    }
}

.requisites-block__pair-name {
    color: rgba(#000,.3);
    font-size: $label-fz;
    line-height: $label-lh;
}

.requisites-block__pair-value {
    &--bold {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
    }
}