.slider__item {
    margin: 0 4px;
}

.slider .slick-list {
    width: calc(100% + 8px);
    margin: 0 -4px;
}

.slider__dots-list {
    @include list-reset;
    @include dflex(nowrap, row, center, center);
    height: 7px;
    margin-top: 10px;
}

.slider__dots-list li {
    @include dflex(nowrap, row, center, center);

    &:not(:last-child) {
        margin-right: 6px;
    }
}

.slider__dots-list button {
    @include transition;
    display: block;
    width: 6px;
    height: 6px;
    padding: 0;
    font-size: 0;
    border: none;
    border-radius: 50%;
    background-color: $neutral-color-light;
}

.slider__dots-list .slick-active button {
    width: 7px;
    height: 7px;
    background-color: $accent-color;
}