*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    @include reset;
    @include dflex(nowrap, column, flex-start, stretch);
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: "Rubik", "Arial", sans-serif;
    color: #000;
    background-color: $bg-color;

    &.fixed {
        // padding-right: 17px;
        overflow: hidden;
    }
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;

    &:focus {
        outline: none;
    }
}

button {
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

input,
textarea,
label {
    &:focus {
        outline: none;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.slick-initialized .slick-list {
    width: 100%;
}

.slick-initialized .slick-track {
    display: flex;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    max-width: 1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.hidden-input {
    position: absolute;
    width: 1px;
    height: 1px;
    max-width: 1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

h1 {
    margin: 0 0 16px;
    font-size: 26px;
    line-height: normal;
}

h2 {
    margin: 0 0 16px;
    font-size: 20px;
    line-height: 26px;
}

h3 {
    margin: 0 0 16px;
    font-size: 18px;
    line-height: 26px;
}

p {
    margin: 0 0 8px;

    &:last-child {
        margin-bottom: 0;
    }
}
