$bg-color: #F5F6FF;
$modal-bg-color: #050931;
$accent-color: #FFC700;
$link-color: #0059C1;
$accent-transparent-color: rgba(255, 199, 0, 0.5);
$block-link-count-color: rgba(5,9,49,.7);

$neutral-color-medium: #9A9CAD;
$neutral-color-dark: #898989;
$neutral-color-light: #E0E2F8;

$success-bg-color: #ECFCF0;
$success-border-color: #9BDDAB;

$info-bg-color: #ECEEFC;
$info-border-color: #BEC4FA;

$sale-heading-color: #C21010;
$sale-bg-color: #EDB8B8;

$new-heading-color: #45B600;
$new-bg-color: #C8E9B3;

$label-fz: 14px;
$label-lh: 20px;
$small-fz: 12px;
$small-lh: 14px;

$border-radius: 10px;
$border-radius-small: 4px;
$footer-box-shadow: 0 -2px 8px rgba(0,0,0,.05);
$max-width: 768px;